<%- partial ('../helpers/modal-sign-in.ejs') %>

<div class="container wrap">
  <div class="row">
    <div class="home-header col-xs-12">
      <h1 class="text-center">Poll App</h1>
			<h4 class="text-center">Take our survey!</h4>     
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h3 class=""><%- question.title %></h3>
			<div class="answers-home list-group">
				<% answers.forEach(function (answer, index) { %>
					<a href="<%- 'answer/' + answer.id %>" class="list-group-item">
						<%- index + 1 %>: <%- answer.title %>
					</a>
				<% }) %>
			</ul>
    </div>
  </div>
</div>