<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>It's Time To Suit Up</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../gman.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/gman.css">

    <div class="jumbotron clearfix">
    <section class=" text-center col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
      <div class="container">
        <p class="lead text-muted">Yaaayyyyyy!</p>
        <img src="/images/hands.jpg" class="card-img-top img-responsive" alt=""/>
        <h1 class="jumbotron-heading">BLESS UP</h1>
      </div>
    </section>
    </div>

    <footer class="text-muted text-center col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
      <div class="container text-center">
        <p class="title">The Team</p>
        <div class="col-xs-6">
          <p>Best Man</p>
          <p class="lead text-muted">Landon</p>
          <p class="conf <%= (replies.indexOf('Landon') > -1) ? 'conf-yes' : '' %> text-muted">
          <%= (replies.indexOf('Landon') > -1) ? 'accepted!' : 'not replied' %>
          </p>
        </div>
        <div class="col-xs-6">
          <p>G-man</p>
          <p class="lead text-muted">Austin</p>
          <p class="conf <%= (replies.indexOf('Austin') > -1) ? 'conf-yes' : '' %> text-muted">
          <%= (replies.indexOf('Austin') > -1) ? 'accepted!' : 'not replied' %>
          </p>
        </div>
        <div class="col-xs-6">
          <p>G-man</p>
          <p class="lead text-muted">Ricky</p>
          <p class="conf <%= (replies.indexOf('Ricky') > -1) ? 'conf-yes' : '' %> text-muted">
          <%= (replies.indexOf('Ricky') > -1) ? 'accepted!' : 'not replied' %>
          </p>
        </div>
        <div class="col-xs-6">
          <p>G-man</p>
          <p class="lead text-muted">Braeden</p>
          <p class="conf <%= (replies.indexOf('Braeden') > -1) ? 'conf-yes' : '' %> text-muted">
          <%= (replies.indexOf('Braeden') > -1) ? 'accepted!' : 'not replied' %>
          </p>
        </div>
        <div class="col-xs-6">
          <p>G-man</p>
          <p class="lead text-muted">Pete</p>
          <p class="conf <%= (replies.indexOf('Pete') > -1) ? 'conf-yes' : '' %> text-muted">
          <%= (replies.indexOf('Pete') > -1) ? 'accepted!' : 'not replied' %>
          </p>
        </div>
        <div class="col-xs-6">
          <p>G-man</p>
          <p class="lead text-muted">Evan</p>
          <p class="conf <%= (replies.indexOf('Evan') > -1) ? 'conf-yes' : '' %> text-muted">
          <%= (replies.indexOf('Evan') > -1) ? 'accepted!' : 'not replied' %>
          </p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../assets/js/vendor/holder.js"></script>
    <script>
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    </script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
